/* SITE STRUCTURE */

body{
    background-color: $color-text-body;
}

.site-header {
    // background: $color-accent-dark;
    position: absolute;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
        a {
            color: black;
            text-decoration: none;
        }

        h1 {
            font-size: 1.5em;
            margin: 0;
        }

        .site-id {
            display: flex;
            align-items: center;
        }

        .logo {
            max-width: 50px;
        }
}

/* SITE-FOOTER */

.site-footer {
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 0;
        a {
            text-decoration: none;
            padding: 1em;
        }

        ul {
            margin: 0;
            list-style: none;
            display: flex;
            padding: 0;
        }    
}

// MAIN SECTION STYLING

.site-main {
    overflow: hidden;
}

// SECTION STYLIING

section {
    padding: 1em 0;
    display: grid;
    align-items: center;
    min-height: 100vh;

}

#section-1 {
        background-image: url(../img/section1_background.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        // overflow: hidden;
        margin: auto;
        position: relative;

    .waydown {
        margin-bottom: -1.5em;
    }

    .s1-pic {
        border-radius: 50%;
        margin: auto;
        margin-top: 3em;
    } 


    p { 
        @media (min-width: $breakpoint-small) {
            margin: auto;
            margin-bottom: -2em;
        }
        font-family: $font-family-serif;
        font-size: 1.3em;
        font-weight: 600;
        line-height: 1.2;
        max-width: 65%;
        text-align: center;
        margin: auto;
        margin-bottom: 1em;
        span {
            font-size: 1.8em;
            line-height: .9;
            margin-right: -3px;
        }
    }

    .left-wheat { 
        display: none;
        @media (min-width: $breakpoint-small) {
        position: absolute;
        z-index: 2;
        max-width: 55%;
        height: auto;
        left: -20em;
        bottom: -4em;
        transition-delay: .2s;
        display: block;
        }
        @media (min-width: 1560px) {
            bottom: -6em;
        }
        @media (min-width: 1672px) {
            bottom: -7em;
        }
        @media (min-width: 1860px) {
            bottom: -8em;
            max-width: 55%;
            left: -25em;
        }
    }

    .right-wheat {
        display: none;
        @media (min-width: $breakpoint-small) {
        position: absolute;
        z-index: 2;
        max-width: 70%;
        height: auto;
        display: block;
        }
        @media (min-width: $breakpoint-small) {
            right: -15em;
            bottom: -10em;
            display: block;
        }
        @media (min-width: 1560px) {
            bottom: -12em;
        }
        @media (min-width: 1672px) {
            bottom: -15em;
        }
        @media (min-width: 1860px) {
            bottom: -15em;
        }
    }

    



        
    

    
}

#section-2 {
    background-image: url(../img/EP_darksection_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 1em;
    margin: auto;
    padding-top: 2em;

    
    .row {
        flex-direction: row-reverse;
    }

    .menu {
        text-align: center;
        font-size: .8em;
        width: 100%;
        margin: auto;
        @media (min-width: $breakpoint-small) {
        width: auto;
        }
    }

    p.drink-name {
        font-family: $font-family-header;
        font-size: 2em;
        letter-spacing: 2px;
        color: $color-accent-light;
        font-weight: 900;
        margin: auto;
        margin-top: 2em;
        margin-bottom: .4em;
    }

    p.drink-ingredients {
        color: rgb(223, 223, 223);
        font-size: 1.3em;
        line-height: 1.2;
        font-family: $font-family-serif;
        font-weight: 400;
        margin: auto;
    }

    #wreath {
        transform: scale(1);
    }

    .button {
        font-family: $font-family-drinknames;
        font-size: .9em;
        padding-top: 12px;
        transition: 250ms ease;
    }

    
}
   
    


#section-3 {
    background-image: url(../img/section1_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: relative;

    .row {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: $color-accent-light;
        transition: .4s ease;
        &:hover {
            color: hotpink;
        }
    }
    
    p {
        @media (min-width: $breakpoint-small) {
            margin: auto;
            text-align: center;
        }
        font-family: $font-family-serif;
        font-size: 1.3em;
        font-weight: 600;
        line-height: 1.2;
        max-width: 60%;
        text-align: center;
        margin: auto;
        margin-bottom: 3em;
    }

    .big-l {
        font-size: 1.8em;
        line-height: .9;
        margin-left: -3px;
    }

    img {
        @media (min-width: $breakpoint-small) {
            transform: scale(1);
            transform-origin: right center;
        }
       
    }  

    video {
        @media (min-width: $breakpoint-small) {
            
        width: 100%;
        height: auto;
        margin-right: 4em;
        margin: auto;
        transform: scale(1);
        transform-origin: right center;
        }
        transform: scale(.8);
        border-radius: 50%;
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 2em;
    }

    .left-wheat {
        display: none;
        @media (min-width: $breakpoint-small) {
        position: absolute;
        z-index: 2;
        max-width: 60%;
        height: auto;
        left: -20em;
        bottom: -4em;
        transition-delay: .2s;
        display: block;
        }
        @media (min-width: 1560px) {
            bottom: -6em;
        }
        @media (min-width: 1672px) {
            bottom: -7em;
        }
        @media (min-width: 1860px) {
            bottom: -8em;
            max-width: 60%;
            left: -30em;
        }
    }

    .right-wheat {
        position: absolute;
        z-index: 2;
        max-width: 70%;
        height: auto;
        display: none;
        @media (min-width: $breakpoint-small) {
            right: -15em;
            bottom: -10em;
            display: block;
        }
        @media (min-width: 1560px) {
            bottom: -12em;
        }
        @media (min-width: 1672px) {
            bottom: -15em;
        }
        @media (min-width: 1860px) {
            bottom: -15em;
        }
    }
    
}
    

#section-4 {
    background-image: url(../img/EP_darksection_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;

    p { 
        font-family: $font-family-serif;
        font-size: 1.3em;
        text-align: center;
        color: $color-background-light;
        line-height: 1.2;
        margin: auto;
        margin-top: .5em;
        max-width: 65%;
        font-weight: 400;
}

.big-i {
    font-size: 1.8em;
    line-height: .9;
    margin-left: -3px;
}

    a {
        text-decoration: none;
        color: $color-accent-light;
        transition: .4s ease;
        &:hover {
            color: hotpink;
        }

    }
    .button {
        transition: 250ms ease;
    }

    .coffeeimg {
        @media (min-width: $breakpoint-small) {
            display: none;
            }
    }

    #coffee {
        width: 100%;
        height: auto;
        opacity: 1;
        margin: auto;
        margin-bottom: -1em;
        display: none;
        @media (min-width: $breakpoint-small) {
        display: block;
        }

    }
}

#section-5 {
    background-image: url(../img/section1_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    .row {
        @media (min-width: $breakpoint-small) {
        flex-wrap: nowrap;
        }
         .one-third:nth-child(1) {
            order: 2;
        }

        .one-third:nth-child(2) {
            order: 1;
        }

        .one-third:nth-child(3) {
            order: 3;
        }

        flex-wrap: wrap;
        margin: 0;

        }

    .staff {
    text-align: center;
    width: auto;
    }

    img.left {
        transform: translate(14.3em);
        margin: auto;
        @media (min-width: $breakpoint-small) {
            transform: scale(4);
        }
    
    }

    .players {
        max-width: 80%;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1.5em;
        @media (min-width: $breakpoint-small) {
            max-width: 60%;
            margin-bottom: 2em;
        }

    }

    img.right {
        transform: translate(-14.3em);
        margin: auto;
        // box-shadow: 3px 3px 10px rgba(0,0,0,.6);
        @media (min-width: $breakpoint-small) {
            transform: scale(4);
        }
    }    

    p.name {
        font-size: 1.5em;
        font-family: $font-family-sans;
        letter-spacing: 2px;
        line-height: 2.5vh;
        font-weight: 500;
        margin: auto;
        @media (min-width: $breakpoint-small) {
        font-size: 1.6em;
        }

    }

    p.job {
        font-size: 1.3em;
        font-family: $font-family-serif;
        font-weight: 300;
        margin: auto;
        margin-bottom: 1em;
        @media (min-width: $breakpoint-small) {
        font-size: 1.4em;
        }
    }

    .left-wheat {
        display: none;
        @media (min-width: $breakpoint-small) {
        position: absolute;
        z-index: 2;
        max-width: 60%;
        height: auto;
        left: -15em;
        bottom: -14em;
        transition-delay: .2s;
        display: block;
        }
        @media (min-width: 1860px) {
            bottom: -14em;
            max-width: 55%;
        }
    }

    .right-wheat {
        position: absolute;
        z-index: 2;
        max-width: 60%;
        height: auto;
        display: none;
        @media (min-width: $breakpoint-small) {
            right: -15em;
            bottom: -8em;
            display: block;
        }
        @media (min-width: 1560px) {
            bottom: -8em;
        }
        @media (min-width: 1672px) {
            bottom: -8em;
        }
        @media (min-width: 1860px) {
            bottom: -7em;
        }
    }
}

#section-6 {
    background-image: url(../img/EP_darksection_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: auto;
    margin-bottom: -4em;
    @media (min-width: $breakpoint-small) {
        margin: auto;
    }

    
    h3 {
        color: $color-accent-dark;
        font-family: $font-family-sans;
        font-size: 2em;
        font-weight: 400;
        font-style: italic;
        margin: auto;
        a {
            text-decoration: none;
            color: $color-accent-dark;
            transition: all .4s ease;
            &:hover {
                color: $color-accent-light;
            }
        }
    }
    p {
        font-weight: 100;
        color: $color-accent-light;
        max-width: 100%;
        font-size: 1.3em;
        margin-bottom: .5em;
        }

    ul {
        list-style: none;
        display: flex;
        padding: 0;
    }

    i {
        color: rgb(223, 223, 223);
        font-size: 3em;
        padding: 0 15px 0 0;
        margin-top: -10px;
        transition: all .4s ease;
        &:hover {
            color: $color-accent-light;
        }
    }    

    .hours {
        margin-bottom: 0;
        color: $color-background-light;
    }
    .left {
        
        z-index: 1;
        text-align: left;
        @media (min-width: $breakpoint-small) {
        }
    }
    .right {
        margin-top: 1em;
        text-align: right;
        transform: scale(.8);
        transform-origin: top right;
        img {
            max-width: 100%;
        }
    }

    .drink-footer {
        transform: rotateY(180deg) rotate(-15deg);
        max-width: 60%;
        margin: auto;
        margin-top: -4em;
        @media (min-width: $breakpoint-small) {
        display: none;
        }
    }

    #drinkfooter {
        display: none;
        transform: rotateY(180deg) rotate(-15deg) scale(1.8);
        @media (min-width: $breakpoint-small) {
            display: block;
            margin: auto;
            }
        }
}

#section-7 {
    background-image: url(../img/section1_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: $breakpoint-small) {
    padding: 0;
    }

    
    
    .right {
    text-align: right;

    h3 {
        @media (min-width: $breakpoint-small) {
        font-size: 1.8em;
        }

        font-family: $font-family-sans;
        color: $color-accent-dark;
        font-size: 2em;
        font-style: italic;
        font-weight: 400;
        line-height: 3.5vh;
        margin: auto;
        transition:  all .4s ease;
        &:hover {
            color: $color-accent-light;
            }
        }

        .entrance {
            @media (min-width: $breakpoint-small) {
            font-size: 1.1em;
            }

            color: $color-accent-light;
            line-height: 3vh;
            margin: auto;
            margin-bottom: 1em;
            font-size: 1.3em;
        }


        .hours {
            @media (min-width: $breakpoint-small) {
                font-size: .9em;
                line-height: 2vh;
                }
            margin: auto;
            line-height: 2.2vh;
            font-size: 1.1em;
        }

       
}

address {

    a {
    text-decoration: none;
    }
}


img {
    max-width: 100%;
    margin: auto;
    margin-right: -.5em;
}

.button {
    margin-left: auto;
    margin-right: auto;
}

}



/* HERO SECTION */



.hero {
    position: relative;
    display: grid;
    place-items: center;
    padding: 0;
    color: white;
    overflow: hidden;
    width: 100%;
    height: auto;
    
    #welcome {
        width: 100%;
        height: auto;
        z-index: 20;
        svg {
            max-height: 100vh !important;
        }
        
    }

    video {
        @media (min-width: $breakpoint-small) {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        opacity: .4;
        display: initial;
        }
        display: none;
        }

    


    .bg-image {
        @media (min-width: $breakpoint-small) {
            opacity: 0;
        }
        background-image: url(../img/EP_hero_pic.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 15%;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: .4;
        }


}