/* SITE STRUCTURE */

body{
    background-color: $color-text-body;
}

.site-header {
    // background: $color-accent-dark;
    position: absolute;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
        a {
            color: black;
            text-decoration: none;
        }

        h1 {
            font-size: 1.5em;
            margin: 0;
        }

        .site-id {
            display: flex;
            align-items: center;
        }

        .logo {
            max-width: 50px;
        }
}

/* SITE-FOOTER */

.site-footer {
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 0;
        a {
            text-decoration: none;
            padding: 1em;
        }

        ul {
            margin: 0;
            list-style: none;
            display: flex;
            padding: 0;
        }    
}

// MAIN SECTION STYLING

.site-main {
    overflow: hidden;
}

// SECTION STYLIING

section {
    padding: 1em 0;
    display: grid;
    align-items: center;
    min-height: 100vh;

}

#section-1 {
        background-image: url(../img/section1_background.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        padding-top: 5em;
        padding-bottom: 0;
        margin: auto;
        position: relative;
        @media (min-width: $breakpoint-small) {
        margin: auto;
        padding: 1em 0;
        }


    .waydown {
        display: block;
        @media (min-width: $breakpoint-small) {
            display: none;
        }
        }

    #way {
        display: none;
        @media (min-width: $breakpoint-small) {
            display: flex;
        }
    }

    .s1-pic {
        border-radius: 50%;
        margin: auto;
        margin-top: 3em;
    } 


    p { 
        @media (min-width: $breakpoint-small) {
            margin: auto;
            margin-bottom: -2em;
        }
        font-family: $font-family-serif;
        font-size: 1.3em;
        font-weight: 600;
        line-height: 1.2;
        max-width: 65%;
        text-align: center;
        margin: auto;
        margin-bottom: 1em;
        span {
            font-size: 1.8em;
            line-height: .9;
            margin-right: -3px;
        }
    }

    .right-splatter-1 {
        display: none;
        @media (min-width: $breakpoint-small) {
            position: absolute;
            z-index: -1;
            height: auto;
            right: -5em;
            bottom: -5em;
            right: -20em;
            bottom: -12em;
            display: block;
            opacity: .5;
        }
        @media (min-width: $breakpoint-xxlarge) {
            margin-right: 10em;
            right: -20em;
            bottom: -12em;
        }
    }

    .right-splatter-2 {
        display: none;
        @media (min-width: $breakpoint-small) {
            position: absolute;
            z-index: -1;
            max-width: 100%;
            height: auto;
            right: -5em;
            bottom: -5em;
            right: -20em;
            bottom: -12em;
            display: block;
            opacity: .5;
        }
        @media (min-width: $breakpoint-xxlarge) {
            margin-right: 10em;
            right: -20em;
            bottom: -12em;
        }
    }

    .right-splatter-3 {
        display: none;
        @media (min-width: $breakpoint-small) {
            position: absolute;
            z-index: -1;
            max-width: 100%;
            height: auto;
            right: -5em;
            bottom: -5em;
            right: -20em;
            bottom: -12em;
            display: block;
            opacity: .5;
        }
        @media (min-width: $breakpoint-xxlarge) {
            margin-right: 10em;
            right: -20em;
            bottom: -12em;
        }
    }



    
    
    

    #verticallines {
        position: absolute;
        transform: rotate(90deg) scale(.2);
        transform-origin: center;
        bottom: -39.5em;
        left: 2.5em;
        z-index: -5;
        display: none;
        @media (min-width: $breakpoint-large) {
            position: absolute;
            z-index: 2;
            transform-origin: bottom;
            display: block;
            transform: scale(.7);
            left: -6.3em;
            bottom: -25em;
        }
        @media (min-width: $breakpoint-xlarge) {
            left: 0;
            bottom: -28em;
            transform: scale(.8);
            }
        @media (min-width: $breakpoint-xxlarge) {
                left: 7em;
                bottom: -30em;
                transform: scaley(1.2);
                transform-origin: center;
                }
    
    }




        
    

    
}



#section-2 {
    background-image: url(../img/EP_darksection_background_straight.png);
    background-color: $color-background-light;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 1em;
    padding-top: 1.5em;
    margin: auto;


    
    .row {
        flex-direction: row-reverse;
    }


    .menu {
        text-align: center;
        font-size: .8em;
        width: 100%;
        margin: auto;
        @media (min-width: $breakpoint-small) {
        width: auto;
        
        }
    }

    p.drink-name {
        font-family: $font-family-header;
        font-size: 2em;
        letter-spacing: 2px;
        color: $color-accent-light;
        font-weight: 400;
        margin: auto;
        margin-top: 2em;
        margin-bottom: .4em;
    }

    p.drink-ingredients {
        color: rgb(223, 223, 223);
        font-size: 1.3em;
        line-height: 1.2;
        font-family: $font-family-serif;
        font-weight: 400;
        margin: auto;
    }

    #wreath {
        display: none;
        @media (min-width: $breakpoint-small) {
        display: flex;
        }
    }

    .wreathpic {
        display: flex;
        @media (min-width: $breakpoint-small) {
        display: none;
        }
    }

    .button {
        font-family: $font-family-drinknames;
        font-size: .9em;
        padding-top: 12px;
        transition: 250ms ease;
    }

    

    
}
   
    


#section-3 {
    background-image: url(../img/section1_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-background-light;
    z-index: 6;
    position: relative;
    a {
        text-decoration: none;
        color: $color-accent-light;
        transition: .4s ease;
        &:hover {
            color: hotpink;
        }
    }
    
    p {
        @media (min-width: $breakpoint-small) {
            margin: auto;
            text-align: center;
        }
        font-family: $font-family-serif;
        font-size: 1.3em;
        font-weight: 600;
        line-height: 1.2;
        max-width: 60%;
        text-align: center;
        margin: auto;
    }

    .big-l {
        font-size: 1.8em;
        line-height: .9;
        margin-left: -3px;
    }

    img {
        @media (min-width: $breakpoint-small) {
            transform: scale(1);
            transform-origin: right center;
        }
       
    }  

    .vinylpic {
        border-radius: 50%;
        @media (min-width: $breakpoint-small) {
        display: none;
        }

    }

    video {
        @media (min-width: $breakpoint-small) {
        display: block;
        width: 100%;
        height: auto;
        margin: auto;
        transform: scale(1);
        transform-origin: right center;
        }
        display: none;
        transform: scale(.8);
        border-radius: 50%;
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 2em;
    }

    .left-splatter-1 {
        display: none;
        @media (min-width: $breakpoint-small) {
            display: block;
            position: absolute;
            z-index: -1;
            max-width: 80%;
            height: auto;
            left: -5em;
            top: -22em;
            opacity: .5;
        }
    }

    .left-splatter-2 {
        display: none;
        @media (min-width: $breakpoint-small) {
            position: absolute;
            z-index: -1;
            max-width: 80%;
            height: auto;
            left: 0;
            top: -22em;
            display: block;
            opacity: .5;
        }
    }

    .left-splatter-3 {
        display: none;
        @media (min-width: $breakpoint-small) {
            position: absolute;
            z-index: -1;
            max-width: 80%;
            left: 0;
            top: -22em;
            display: block;
            opacity: .5;
        }
    }

    
    
}
    

#section-4 {
    background-image: url(../img/EP_darksection_background_straight.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-background-light;
    z-index: 2;
    position: relative;



    p { 
        font-family: $font-family-serif;
        font-size: 1.3em;
        text-align: center;
        color: $color-background-light;
        line-height: 1.2;
        margin: auto;
        margin-top: .5em;
        max-width: 65%;
        font-weight: 400;
}

.big-i {
    font-size: 1.8em;
    line-height: .9;
    margin-left: -3px;
}

    a {
        text-decoration: none;
        color: $color-accent-light;
        transition: .4s ease;
        &:hover {
            color: hotpink;
        }

    }
    .button {
        transition: 250ms ease;
    }

    .coffeeimg {
        margin-top: 4em;
        @media (min-width: $breakpoint-small) {
            display: none;
            }
    }

    #coffee {
        width: 100%;
        height: auto;
        opacity: 1;
        margin: auto;
        margin-bottom: -1em;
        display: none;
        @media (min-width: $breakpoint-small) {
        display: block;
        }

    }

    
}

#section-5 {
    background-image: url(../img/section1_background.png);
    position: relative;
    padding-bottom: 3em;
    @media (min-width: $breakpoint-small) {
    padding: 1em 0;
    z-index: 3;
    }


    
    .row {
        @media (min-width: $breakpoint-small) {
        flex-wrap: nowrap;
        }
         .one-third:nth-child(1) {
            order: 2;
        }

        .one-third:nth-child(2) {
            order: 1;
        }

        .one-third:nth-child(3) {
            order: 3;
        }

        flex-wrap: wrap;
        margin: 0;

        }

        

    .staff {
    text-align: center;
    width: auto;
    }

    img.left {
        transform: translate(14.3em);
        margin: auto;
        @media (min-width: $breakpoint-small) {
            transform: scale(2);
        }
    
    }

    .players {
        font-size: 6em;
        font-family: $font-family-header;
        font-weight: 400;
        color: $color-accent-light;
        max-width: 100%;
        margin: auto;
        margin-top: .3em;
        margin-bottom: .4em;
        @media (min-width: $breakpoint-small) {
            max-width: 100%;
            font-size: 4.2em;
        }

    }

    img.right {
        transform: translate(-14.3em);
        margin: auto;
        @media (min-width: $breakpoint-small) {
            transform: scale(2);
        }
    }    

    p.name {
        font-size: 1.5em;
        font-family: $font-family-sans;
        letter-spacing: 2px;
        line-height: 2.5vh;
        font-weight: 500;
        margin: auto;
        @media (min-width: $breakpoint-small) {
        font-size: 1.6em;
        }

    }

    p.job {
        font-size: 1.3em;
        font-family: $font-family-serif;
        font-weight: 300;
        margin: auto;
        margin-bottom: 1em;
        @media (min-width: $breakpoint-small) {
        font-size: 1.4em;
        }
    }

    

    .left-splatter-1 {
        display: none;
        @media (min-width: $breakpoint-small) {
            display: block;
            position: absolute;
            z-index: -1;
            right: -25em;
            bottom: -32em;
            opacity: .5;
        }
        @media (min-width: $breakpoint-large) {
            right: -15em;
            bottom: -15em;
        }
        @media (min-width: $breakpoint-xlarge) {
            right: -25em;
            bottom: 0;
        }
    }

    .left-splatter-2 {
        display: none;
        @media (min-width: $breakpoint-small) {
            position: absolute;
            z-index: -1;
            right: -15em;
            bottom: -15em;
            display: block;
            opacity: .5;
        }
        @media (min-width: $breakpoint-large) {
            right: 0;
            bottom: 0;
        }
        @media (min-width: $breakpoint-xlarge) {
            right: 15em;
            bottom: 0;
        }
    }

    .left-splatter-3 {
        display: none;
        @media (min-width: $breakpoint-small) {
            position: absolute;
            z-index: -1;
            right: -10em;
            bottom: -15em;
            display: block;
            opacity: .5;
        }
        @media (min-width: $breakpoint-large) {
            right: -10em;
            bottom: 5em;
        }
        @media (min-width: $breakpoint-xlarge) {
            right: 5em;
            bottom: 0;
        }
    }

    
}

#section-6 {
    background-image: url(../img/EP_darksection_background_straight.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding-top: 10em;
    padding-bottom: 5em;
    z-index: -1;
    position: relative;

    
    h3 {
        color: $color-accent-dark;
        font-family: $font-family-sans;
        font-size: 2em;
        font-weight: 400;
        font-style: italic;
        margin: auto;
        a {
            text-decoration: none;
            color: $color-accent-dark;
            transition: all .4s ease;
            &:hover {
                color: $color-accent-light;
            }
        }
    }
    p {
        font-weight: 100;
        color: $color-accent-light;
        max-width: 100%;
        font-size: 1.3em;
        margin-bottom: .5em;
        }

    ul {
        list-style: none;
        display: flex;
        padding: 0;
    }

    i {
        color: rgb(223, 223, 223);
        font-size: 3em;
        padding: 0 15px 0 0;
        margin-top: -10px;
        transition: all .4s ease;
        &:hover {
            color: $color-accent-light;
        }
    }    

    .hours {
        margin-bottom: 0;
        color: $color-background-light;
    }
    .left {
        
        z-index: 1;
        text-align: left;
        @media (min-width: $breakpoint-small) {
        }
    }
    .right {
        margin-top: 1em;
        text-align: right;
        transform: scale(.8);
        transform-origin: top right;
        img {
            max-width: 100%;
        }
    }

    .drink-footer {
        transform: rotateY(180deg) rotate(-15deg);
        max-width: 60%;
        margin: auto;
        margin-top: -4em;
        @media (min-width: $breakpoint-small) {
        display: none;
        }
    }

    #drinkfooter {
        display: none;
        transform: rotateY(180deg) rotate(-15deg) scale(1.8);
        @media (min-width: $breakpoint-small) {
            display: block;
            margin: auto;
            }
        }
}

#section-7 {
    background-image: url(../img/section1_background.png);
    position: relative;
    z-index: 1;
    @media (min-width: $breakpoint-small) {
        margin: auto;
    padding: 1em 0;
    }

    
    
    .right {
    text-align: right;

    h3 {
        font-family: $font-family-sans;
        color: $color-accent-dark;
        font-size: 2em;
        font-style: italic;
        font-weight: 400;
        line-height: 3.5vh;
        margin: auto;
        transition:  all .4s ease;
        &:hover {
            color: $color-accent-light;
            }
        @media (min-width: $breakpoint-small) {
        font-size: 1.5em;
        line-height: 5vh;
        }
        @media (min-width: $breakpoint-medium) {
            font-size: 1.5em;
            line-height: 5vh;
            }
        }

        .entrance {
            @media (min-width: $breakpoint-small) {
            font-size: 1.1em;
            }

            color: $color-accent-light;
            line-height: 3vh;
            margin: auto;
            margin-bottom: 1em;
            font-size: 1.3em;
        }


        .hours {
            @media (min-width: $breakpoint-small) {
                font-size: .9em;
                line-height: 2vh;
                }
            margin: auto;
            line-height: 2.2vh;
            font-size: 1.1em;
        }

       
}

address {

    a {
    text-decoration: none;
    }
}


img {
    max-width: 100%;
    margin: auto;
    margin-right: -.5em;
}

.button {
    margin-left: auto;
    margin-right: auto;
}

.left-splatter-1 {
    display: none;
    @media (min-width: $breakpoint-small) {
        display: block;
        position: absolute;
        z-index: -1;
        max-width: 80%;
        height: auto;
        left: 5em;
        top: -20em;
        opacity: .5;
    }
}

.left-splatter-2 {
    display: none;
    @media (min-width: $breakpoint-small) {
        position: absolute;
        z-index: -1;
        max-width: 80%;
        height: auto;
        left: -15em;
        top: -30em;
        display: block;
        opacity: .5;
    }
}

.left-splatter-3 {
    display: none;
    @media (min-width: $breakpoint-small) {
        position: absolute;
        z-index: -1;
        max-width: 80%;
        left: 0;
        top: -22em;
        display: block;
        opacity: .5;
    }
}


}



/* HERO SECTION */



.hero {
    position: relative;
    display: grid;
    place-items: center;
    padding: 0;
    color: white;
    overflow: hidden;
    width: 100%;
    height: auto;
    
    #welcome {
        width: 100%;
        height: auto;
        z-index: 20;
        svg {
            max-height: 100vh !important;
        }
        
    }

    video {
        @media (min-width: $breakpoint-small) {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -2;
        opacity: .4;
        display: initial;
        }
        display: none;
        }

    


    .bg-image {
        @media (min-width: $breakpoint-small) {
            opacity: 0;
        }
        background-image: url(../img/EP_hero_pic.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 15%;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: .4;
        }


}